@import 'bootstrap/dist/css/bootstrap';

/*
Color Chart 
#4f3961
#ea728c
#fc9d9d
#f3d4d4
*/
body {
  background-color: whitesmoke;
}
.navbar {
  background-color: #4f3961 !important;
} 
.navbar a {
  color: #f3d4d4 !important;
}
.navbar button {
  border-color: #f3d4d4 !important;
  color: #f3d4d4 !important;
}
.navbar button:hover {
  background-color: #f3d4d4 !important;
  color: #fff !important;
}
.navbar-brand {  
  font-size: 1.5rem; 
  color: #f3d4d4 !important; 
}
.nav-link:hover {
  color: #ea728c !important;
}
.session-btn {
  background-color: #ea728c !important;
  border-color: #ea728c !important;
  color: #fff !important;
}
.session-btn:hover {
  opacity: 0.7;
}
.active {
  font-weight: bolder !important;
}
.dropdown-menu a {
  color: #000000 !important;
}
.user-name {
  color: #f3d4d4 !important;
  margin-top: 3.5%;
  padding-right: 5px;
}
.submit-button {
  background-color: #4f3961 !important;
  border-color: #4f3961 !important;
  margin-right: 1rem;
}
.submit-button:hover {
  opacity: 0.7;
}

.search-container {
  padding-top: 3rem;
}

.results-block {
  display: inline-block;
}
.following-span {
  margin-top: 1%;
}