@import 'bootstrap/dist/css/bootstrap';

/*
Color Chart 
#4f3961
#ea728c
#fc9d9d
#f3d4d4
*/
body {
  background-color: #f2f6f5;
  height: 100%;
}
.jumbotron {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), asset-url("homepage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 475px;
}
.navbar {
  background-color: #63707e !important;
} 
.navbar a {
  color: #fff !important;
}
.navbar-brand {  
  font-size: 1.5rem; 
  color: #f3d4d4 !important; 
}
.nav-link:hover {
  color: #c8dad3 !important;
}
.session-btn {
  background-color: #63707e !important;
  border-color: #63707e !important;
  color: #fff !important;
}
.session-btn:hover {
  opacity: 0.8;
}
.active {
  font-weight: bolder !important;
}
.dropdown-menu a {
  color: #000000 !important;
}
.user-name {
  color: #fff !important;
  margin-top: 3.5%;
  padding-right: 5px;
}
.submit-button {
  background-color: #93b5b3 !important;
  border-color: #93b5b3 !important;
  margin-right: 1rem;
}
.submit-button:hover {
  opacity: 0.8;
}
.submit-button-2 {
  background-color: #63707e !important;
  border-color: #63707e !important;
  margin-right: 1rem;
}
.submit-button-2:hover {
  opacity: 0.8;
}
.search-container {
  padding-top: 3rem;
}

.results-block {
  display: inline-block;
}
.following-span {
  margin-top: 1%;
}
#sticky-footer {
  background-color: #63707e !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}
