</div>

<footer id="sticky-footer" class="py-4 text-white-50">
  <div class="container text-center">
    <small>Made with love &copy; Copyright <%= link_to "Finance Tracker", root_path, class: "text-white" %></small>
  </div>
</footer>